.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;

    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); // cubic-bezier: custom transition time/easing function
  }

  // Covers screen to show nav list when you click on nav icon
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    // initial state = hidden; need both opacity and width to be 0
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    @include absCenter;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%; // used in conjuction for animation of gradient moving to left
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      // background slides to white when hovered over a link
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // "checkbox hack": hit menu icon, which checks .navigation__checkbox which then "opens" up .navigation__background (siblings)
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // ICON consists of three elements: one main span and two pseudo ele
  &__icon {
    position: relative;
    margin-top: 3.3rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      // for before & after pseudo ele to show, must have content & display properties defined
      content: "";
      position: absolute; // positioned in relation to span.navigation__icon
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  // slightly animates menu icon when hovered
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  // MENU "X" ICON ANIMATION
  // When &__checkbox is checked, select &__icon...
  // (&__checkbox and &__button are adjacent siblings;
  // &__icon is child of &__button).
  &__checkbox:checked + &__button &__icon {
    background-color: transparent; // makes span.navigation__icon invisible (getting rid of it will mess up pseudo ele. that depend on it)
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(
      135deg
    ); // rotates more than 45deg for more interesting animation
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
